* {
	font-family: 'Dosis', sans-serif;
}

#percentage {
	width: 100%;
	text-align: center;
	font-size: 3em;
	margin-top: 300px;
}

#bar {
	width: 500px;
	height: 50px;
	border: 1px solid black;
	border-radius: 25px;
	margin: 0 auto;
}

#progress {
	height: 100%;
	border-radius: 25px;
	background-color: gray;
	width: 12%;
}

#colors {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	height: 50%;
}

#colors button {
	margin: 10px;
	width: 10%;
	height: 60%;
	font-size: 1.2em;
}